@import '~@angular/material/theming';

@import 'themes/chr-default-theme';

@import 'app/shared/components/header/header-theme';

@include header-theme($chr-default-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
